.btn {
	padding: 10px 50px;
	outline: none !important;
	border: none !important;
	border-radius: 0;
	font-size: 1.2rem;
	text-decoration: none;
	display: block;
	box-shadow: 0 5px 5px #ddd;
}

.btn:hover {
	cursor: pointer;
}

.btn-primary {
	background-color: var(--dark);
	color: var(--white);
}

.btn-primary:hover {
	opacity: .9;
}

.btn-large {
	font-size: 1.7rem;
}
