.btn {
	padding: 10px 50px;
	outline: none !important;
	border: 8px solid transparent;
	border-radius: 50px;
	font-size: 1.2rem;
	text-decoration: none;
	display: block;
	box-shadow: 5px 5px 5px #ddd;
}

.btn:hover {
	cursor: pointer;
}

.btn-primary {
	background-color: var(--dark);
	color: var(--palette-pink-white);
}

.btn-primary:hover {
	-webkit-transition: 300ms linear;
    -moz-transition: 300ms linear;
    transition: 300ms linear;
	
	background-color: var(--palette-pink-white);
	color: var(--dark);
	border-color: var(--dark);
}

.btn-large {
	font-size: 1.7rem;
}
