body {
	margin: 0;
}

@font-face {
	font-family: 'Open Sans';
	src: url("../fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
	font-weight: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url("../fonts/Open_Sans/OpenSans-Bold.ttf") format("truetype");
	font-weight: bold;
}

@font-face {
	font-family: 'Open Sans';
	src: url("../fonts/Open_Sans/OpenSans-Italic.ttf") format("truetype");
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url("../fonts/Open_Sans/OpenSans-ExtraBold.ttf") format("truetype");
	font-weight: 800;
}

/* Kameron */
@font-face {
	font-family: 'Roboto Slab';
	src: url("../fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf") format("truetype");
	font-weight: 900;
}


* {
	font-family: 'Open Sans', sans-serif !important;
}

h1, h2, h3, h4, h5, h6, p, a, li {
	color: var(--black);
}

h1, h2, h3, h4, h5, h6 {
	color: var(--dark);
}

h1 {
	font-weight: 900;
	font-family: 'Roboto Slab', 'Open Sans', sans-serif !important;
	font-size: 3rem;
}

h2 {
	font-size: 2rem;
}

p {
	font-size: 1.1rem;
	line-height: 1.5;
}

a {
	text-decoration: none;
}

.vc {
	display: flex;
	align-items: center;
}

ul {
	padding-left: 10px;
	padding-top: 0;
	padding-bottom: 30px;
	margin: 0;
	list-style-type: none;
}

ul > li {
	text-indent: -5px;
}

ul > li:before {
	content: "- ";
	text-indent: -5px;
}

li {
	font-size: 20px;
	opacity: .7;
}

/** {*/
/*	outline: 1px solid blue;*/
/*}*/
